<h2>Online Tool</h2>
<div id="PAGE">
  <h3>G30 Pattern Generator, {{ page.pattern_name }}</h3>
  <cite>Click on the "Generate G-code" link to download a command file
    that probes the print bed according to the pattern below. The command
    collects the results in the file, "\G30PROBE.TXT", which can be used
    as input for the Mesh Correction online tools.</cite>
  <h5><a onclick="deliver(g30({{- page.pattern_data -}}, '{{- page.pattern_file -}}'));"
	 href="#">Generate G-code</a></h5>
  <h6><a href="{{- site.sister_repository_url -}}"
	 >{{- site.sister_repository_nwo -}}</a></h6>
  <div id="BED"></div>
  <details>
    {{ page.pattern_note }}
  </details>
</div>
<script>
  document.getElementById("BED").innerHTML =
    bed({{- page.pattern_data -}}, "{{- page.pattern_name -}}");
</script>
