body { font-family: monospace }
#FORM, #PAGE { border: solid 1pt gray }
input[type = 'file'], textarea { width: 99% }
input[type = 'file'] { background-color: #f4f4f4 }
textarea { resize: vertical }
h3, h5 { margin: 0 auto 0.4em }
h4, h6 { margin: 0.4em auto 0 }
h6 { text-align: right }
form, div, details { padding: 0.8em }
cite { font-size: 92% }
.plot {
    -webkit-columns: 2 2in;
    -moz-columns: 2 2in;
    columns: 2 2in;
}
.plot ul {
    white-space: nowrap;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
@media print {
    details {
	page-break-inside: avoid;
	break-inside: avoid;
    }
    object.heatmap {
	width: 95mm;
	height: 95mm;
    }
}
